<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hera.bangkit">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Herabangkit">
        <activity android:name=".ui.main.profile.setting.SettingAboutActivity"></activity>
        <activity android:name=".ui.main.profile.setting.SettingAccountActivity" />
        <activity android:name=".ui.auth.login.ResetPasswordActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ui.main.profile.report.detail.ReportActivityDetail" />
        <activity android:name=".ui.main.hastag.HastagPageActivity" />
        <activity android:name=".ui.main.post.story.PostStoryActivity" />
        <activity android:name=".ui.main.post.sos.SosActivity" />

        <receiver
            android:name=".ui.main.post.sos.SosActivity"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.main.post.report.PostReportActivity" />
        <activity android:name=".ui.main.profile.setting.SettingActivity"></activity>
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.register.RegisterSuccessActivity" />
        <activity android:name=".ui.auth.register.RegisterActivity" />
        <activity android:name=".ui.auth.login.LoginActivity" />
        <activity android:name=".ui.intro.IntroSlideActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.main.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>